@{
    ViewBag.Title = "About";
}
<div class="row " style="padding-top:34px">

    <div class="col-lg-6">
        <h1 style="padding-top:110px;padding-left:490px; ">ABOUT </h1>
        <h2 style="padding-left:338px">BOOK MY DOCTOR</h2>
    </div>
    <div class="col-lg-6" style="background-image:url(../img/about.jpg);
  background-repeat: no-repeat; 
  background-size: cover;
  background-size:100% 100%;
  height:250px;">

    </div>
</div>
<div class="container" style="padding-top:24px">
    <p style="font-size:medium">
        <strong> Book My Doctor </strong> is an online booking website. It an online portal in which the user can take online appointment by the doctor, they want to visit. This site will be for both patient and doctor, both with register. The doctor will register and add his details and timing. The user will register and will check if the doctor is available or not. Then he will make a request for the appointment of the doctor they want to visit and if the doctor is available the appointment will be accepted and the user will receive details of his appointment. On the other hand the doctor will be informed that what his daily appointments are by receiving message or by emails.

    </p>
    <div class="col-lg-6">
        <img src="../img/why.png" style="height:624px" />
    </div>
    <div class="col-lg-6">
        <h2>Our Mission</h2>
        <p style="font-size:medium">
            The public now a days shows preference for performing their tasks via Internet. Patients will be kept aware of promotional drives, doctor’s practices, fees through internet. This will result in more visits by patients, increase patients satisfaction, enhanced operational efficiency.
        </p>
        <h2>Our Vision</h2>
        <p style="font-size:medium">
            Our Vision is listed below:
        </p>
        <ul>
            <li style="font-size:medium">
                The main objective of this <strong>Book My Doctor</strong> is to develop an online appointment system.
            </li>
            <li style="font-size:medium">To provide a convenient way of appointment to Doctor</li>
            <li style="font-size:medium">To computerize the patient’s reviews and maintenance</li>
        </ul>
        <h2>Why Choose Us</h2>
        <p style="font-size:medium">Book My Doctor have benefits at industrial level</p>

        <ul>

            <li style="font-size:medium">The doctors related to different fields will be present at single platform, so it will be easy for the patients to access the specific doctor according to their need.</li>
            <li style="font-size:medium">People will have more options, this means that the young doctors can have more chances.</li>
        </ul>
        <p style="font-size:medium">The patients will not have to wait for hours to see the doctor if they start using this application, the system of waiting for hours in a queue will be finished.</p>
    </div>

</div>
<div class="container" style="padding-top:24px">
    <div class="col-lg-6">
        <h3><strong>What Makes Us best?</strong></h3>
        <p>
            <img src="../img/doctors.png" style="width:40px" />
            <strong style="    font-size: x-large;">Qualified Doctors</strong>
        </p>
        <p>We have a large number of qualified and well experienced Doctors. </p>

        <p>
            <img src="../img/book.png" style="width:40px" />
            <strong style="    font-size: x-large;">Online Enrolment</strong>
        </p>
        <p>You get the appointments of your desire Doctors without going to them or standing in queue for the long time and waiting for the doctor to be avaiable </p>
    </div>
    <div class="col-lg-6">
    <img src="../img/appoint.jpg" style="height: 232px;
    width: 659px;" />
</div>
    
</div>



