@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image:url(../img/img_bg_6.jpg);
  background-repeat: no-repeat; 
  background-size: cover;
  height:690px;
  color:black;">
    <div class="container">
        <h1 style="padding-top:250px">BOOK MY DOCTOR</h1>
        <h3>Your Health <strong>is always in the first place</strong></h3>
        <h3>We help you <strong>to find the best doctor around you</strong></h3>
        <h3>Helping to improve <strong>quality stimulate</strong> innovation</h3>
        <h3>Guaranted <strong>safe &amp; potent</strong> Medicine</h3>
    </div>
</div>
<div style="background:#3c97e8;color:black">
    <div class="container">
        <div class="col-md-12" style="text-align :center; padding-bottom:20px;padding-top:20px">
            <h2><strong>OUR DEPARTMENTS</strong></h2>
        </div>
        <div class="row">
        <div class="col-md-4">
            <img src="../img/cardiology.jpg" style="height: 180px;
    width: 350px;" />
            <h3><strong>Cardiology</strong></h3>
            <p>Our goal is to enhance the save rate for cardiac arrest victims by 25 percent. As the program expands and more people become lay rescuers and automated external defibrillators are in place, more and more local residents can be saved.</p>

        </div>
        <div class="col-md-4">
            <img src="../img/dental.jpg" style="height: 180px;
   width: 350px;"/>
            <h3><strong>Dental Care</strong></h3>
            <p>My dentist is actually a highly technical specialist, constantly experimenting with the latest dental research. The equipment he has makes my old dentist look prehistoric.</p>

        </div>
        <div class="col-md-4">
            <img src="../img/surgery.jpg" style="height: 180px;
    max-width: 350px;" />
            <h3><strong>Surgery</strong></h3>
            <p>surgeon doesn't just concentrate on technical ability, but also on the appropriateness of what you're doing. </p>

        </div>
        </div>
        <div class="row">
        <div class="col-md-4">
            <img src="../img/neurology.jpg" style="height: 180px;
    max-width: 350px;" />
            <h3><strong>Neurology</strong></h3>
            <p>What the neurology tells us is that the self consists of many components, and the notion of one unitary self may well be an illusion.</p>
        </div>
        <div class="col-md-4">
            <img src="../img/psycology.jpg" style="height: 180px;
    width: 350px;"/>
            <h3><strong>Psycology</strong></h3>
            <p>The purpose of psychology is to give us a completely different idea of the things we know best.   </p>
        </div>
        <div class="col-md-4">
            <img src="../img/childern.jpg" style="height: 180px;
    width: 350px;"/>
            <h3><strong>Child Specialist</strong></h3>
            <p>
                It is not the healthy who need a doctor, but the sick. I have not come to call the righteous, but sinners to repentance.

            </p>
        </div>
        </div>

    </div>
</div>